<!-- <mat-tab-group >
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon"></mat-icon>
            {{titulo1}}
        </ng-template>

        <form [formGroup]="atualizarInformacoesGeraisForm">
            <mat-card-title>
                <h2>Informacoes Gerais</h2>
            </mat-card-title>
            <mat-form-field>
                <label for="codigo">Codigo</label>
                <input [(ngModel)]="pluri.codigo" matInput formControlName="codigo" placeholder="Digite o codigo de controle" >                        
            </mat-form-field>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Selecione o Trimestre</mat-label>
                    <mat-select formControlName="trimestre" [value]="trimestreSelecionado">
                      <mat-option value="1">1º trimestre</mat-option>
                      <mat-option value="2">2º trimestre</mat-option>
                      <mat-option value="3">3º trimestre</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="grid-container">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label >Ano de Aplicacao</mat-label>
                        <input [(ngModel)]="pluri.ano_aplicacao" matInput formControlName="ano_aplicacao" placeholder="Ano de aplicacao" >                        
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data inicio pluri</mat-label>
                        <input matInput [(ngModel)]="pluri.data_inicio_pluri"  [matDatepicker]="picker10" formControlName="data_inicio_pluri" placeholder="Data inicio pluri">
                        <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                        <mat-datepicker #picker10></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data inicio recuperacao</mat-label>
                        <input matInput [(ngModel)]="pluri.data_inicio_recuperacao" [matDatepicker]="picker11" formControlName="data_inicio_recuperacao" placeholder="Data inicio recuperacao">
                        <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                        <mat-datepicker #picker11></mat-datepicker>
                    </mat-form-field>
                </div>                
            </mat-card-content>
        </form>
        <div class="botoes">
            <button mat-button (click)="avancarParaProximaAba()">Próxima Aba</button>
            <button mat-button (click)="atualizarInformacoesGerais()">Atualizar</button>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon"></mat-icon>
            {{titulo2}}
        </ng-template>
        <form [formGroup]="atividadesComissaoForm">
            <mat-card-title>
                <h2>Datas Atividades da Comissao</h2>
            </mat-card-title>
            <mat-card-content>
                <div class="grid-container">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Indicacao Docentes</mat-label>
                        <input [(ngModel)]="pluri.data_indicacao_docentes" matInput [matDatepicker]="picker16" formControlName="data_indicacao_docentes" placeholder="Data Indicacao Docentes">
                        <mat-datepicker-toggle matSuffix [for]="picker16"></mat-datepicker-toggle>
                        <mat-datepicker #picker16></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Envio de Questoes</mat-label>
                        <input [(ngModel)]="pluri.data_envio_questoes" matInput [matDatepicker]="picker13" formControlName="data_envio_questoes" placeholder="Data envio questoes">
                        <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                        <mat-datepicker #picker13></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Diagramacao</mat-label>
                        <input [(ngModel)]="pluri.data_diagramacao" matInput [matDatepicker]="picker2" formControlName="data_diagramacao" placeholder="Data diagramacao">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Revisao</mat-label>
                        <input [(ngModel)]="pluri.data_revisao" matInput [matDatepicker]="picker3" formControlName="data_revisao" placeholder="Data revisao">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Impressao</mat-label>
                        <input [(ngModel)]="pluri.data_impressao" matInput [matDatepicker]="picker4" formControlName="data_impressao" placeholder="Data impressao">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Ensalamento</mat-label>
                        <input [(ngModel)]="pluri.data_ensalamento" matInput [matDatepicker]="picker5" formControlName="data_ensalamento" placeholder="Data ensalamento">
                        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Lancamento Notas</mat-label>
                        <input [(ngModel)]="pluri.data_lancamento_notas" matInput [matDatepicker]="picker6" formControlName="data_lancamento_notas" placeholder="Data lancamento notas">
                        <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                        <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Correcao Redacao</mat-label>
                        <input [(ngModel)]="pluri.data_correcao_redacao" matInput [matDatepicker]="picker7" formControlName="data_correcao_redacao" placeholder="Data Correcao Redacao">
                        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                        <mat-datepicker #picker7></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Enviar Recurso</mat-label>
                        <input [(ngModel)]="pluri.data_enviar_recurso" matInput [matDatepicker]="picker8" formControlName="data_enviar_recurso" placeholder="Data Enviar Recurso">
                        <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                        <mat-datepicker #picker8></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Analise Recurso</mat-label>
                        <input [(ngModel)]="pluri.data_analise_recurso" matInput [matDatepicker]="picker9" formControlName="data_analise_recurso" placeholder="Data Analise Recurso">
                        <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                        <mat-datepicker #picker9></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Atualizacao Notas</mat-label>
                        <input [(ngModel)]="pluri.data_atualizacao_notas" matInput [matDatepicker]="picker14" formControlName="data_atualizacao_notas" placeholder="Data Atualizacao Notas">
                        <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                        <mat-datepicker #picker14></mat-datepicker>
                    </mat-form-field>
                </div>                
            </mat-card-content>
        </form>
        <div class="botoes">
            <button mat-button (click)="avancarParaProximaAba()">Próxima Aba</button>
            <button mat-button (click)="atualizarAtividadesDaComissaoForm()">Enviar atualizacoes</button>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            {{titulo3}}
        </ng-template>
        <form [formGroup]="informacoesAplicacaoForm">
            <mat-card-title>
                <h2>Informacoes aplicacao Pluri</h2>
            </mat-card-title>
            <mat-card-content>
                <div class="grid-container">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Aplicacao</mat-label>
                        <input [(ngModel)]="pluri.data_aplicacao" matInput [matDatepicker]="picker17" formControlName="data_aplicacao" placeholder="Data Aplicacao">
                        <mat-datepicker-toggle matSuffix [for]="picker17"></mat-datepicker-toggle>
                        <mat-datepicker #picker17></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Reaplicacao</mat-label>
                        <input [(ngModel)]="pluri.data_reaplicacao" matInput [matDatepicker]="picker18" formControlName="data_reaplicacao" placeholder="Data Reaplicacao">
                        <mat-datepicker-toggle matSuffix [for]="picker18"></mat-datepicker-toggle>
                        <mat-datepicker #picker18></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Data Divulgacao Notas</mat-label>
                        <input [(ngModel)]="pluri.data_divulgacao_notas" matInput [matDatepicker]="picker19" formControlName="data_divulgacao_notas" placeholder="Data Divulgacao Notas">
                        <mat-datepicker-toggle matSuffix [for]="picker19"></mat-datepicker-toggle>
                        <mat-datepicker #picker19></mat-datepicker>
                    </mat-form-field>
                </div>                
            </mat-card-content>
        </form>
        <div class="botoes">
            <button mat-button (click)="avancarParaProximaAba()">Próxima Aba</button>
            <button mat-button (click)="atualizarInformacoesAplicacaoForm()">Enviar atualizacoes</button>
        </div>
    </mat-tab>
</mat-tab-group>

<mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected}}</p> -->
<mat-tab-group >
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon"></mat-icon>
            {{titulo1}}
        </ng-template>

        <form [formGroup]="atualizarInformacoesGeraisForm">
            <mat-card-title>
                <h2>Informacoes Gerais</h2>
            </mat-card-title>
                <label for="codigo">Codigo</label>
                <input [(ngModel)]="pluri.codigo" matInput formControlName="codigo" placeholder="Digite o codigo de controle" >                        
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Selecione o Trimestre</mat-label>
                    <mat-select formControlName="trimestre" [value]="trimestreSelecionado">
                      <mat-option value="1">1º trimestre</mat-option>
                      <mat-option value="2">2º trimestre</mat-option>
                      <mat-option value="3">3º trimestre</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="grid-container">
                        <mat-label >Ano de Aplicacao</mat-label>
                        <input [(ngModel)]="pluri.ano_aplicacao" matInput formControlName="ano_aplicacao" placeholder="Ano de aplicacao" >                                     

                    
                        <mat-label>Data inicio pluri</mat-label>
                        <input type="date" [(ngModel)]="pluri.data_inicio_pluri" formControlName="data_inicio_pluri" placeholder="Data inicio pluri">
                    
                    
                        <mat-label>Data inicio recuperacao</mat-label>
                        <input type="date" [(ngModel)]="pluri.data_inicio_recuperacao" formControlName="data_inicio_recuperacao" placeholder="Data inicio recuperacao">
                    
                </div>                
            </mat-card-content>
        </form>
        <div class="botoes">
            <button mat-button (click)="avancarParaProximaAba()">Próxima Aba</button>
            <button mat-button (click)="atualizarInformacoesGerais()">Atualizar</button>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon"></mat-icon>
            {{titulo2}}
        </ng-template>
        <form [formGroup]="atividadesComissaoForm">
            <mat-card-title>
                <h2>Datas Atividades da Comissao</h2>
            </mat-card-title>
            <mat-card-content>
                <div class="grid-container">
                    
                        <mat-label>Data Indicacao Docentes</mat-label>
                        <input  type="date" [(ngModel)]="pluri.data_indicacao_docentes"   formControlName="data_indicacao_docentes" placeholder="Data Indicacao Docentes">

                    
                        <mat-label>Data Envio de Questoes</mat-label>
                        <input type="date" [(ngModel)]="pluri.data_envio_questoes"   formControlName="data_envio_questoes" placeholder="Data envio questoes">
                    
                    
                        <mat-label>Data Diagramacao</mat-label>
                        <input type="date" [(ngModel)]="pluri.data_diagramacao"  formControlName="data_diagramacao" placeholder="Data diagramacao">
                    
                    
                        <mat-label>Data Revisao</mat-label>
                        <input type="date" [(ngModel)]="pluri.data_revisao"  formControlName="data_revisao" placeholder="Data revisao">
                    
                    
                        <mat-label>Data Impressao</mat-label>
                        <input type="date" [(ngModel)]="pluri.data_impressao" formControlName="data_impressao" placeholder="Data impressao">
                        
                    
                    
                        <mat-label>Data Ensalamento</mat-label>
                        <input type="date" [(ngModel)]="pluri.data_ensalamento" formControlName="data_ensalamento" placeholder="Data ensalamento">
                    
                    
                    
                        <mat-label>Data Lancamento Notas</mat-label>
                        <input [(ngModel)]="pluri.data_lancamento_notas" type="date" formControlName="data_lancamento_notas" placeholder="Data lancamento notas">
                    
                    
                        <mat-label>Data Correcao Redacao</mat-label>
                        <input [(ngModel)]="pluri.data_correcao_redacao"  type="date" formControlName="data_correcao_redacao" placeholder="Data Correcao Redacao">
                    
                    
                        <mat-label>Data Enviar Recurso</mat-label>
                        <input [(ngModel)]="pluri.data_enviar_recurso" type="date" formControlName="data_enviar_recurso" placeholder="Data Enviar Recurso">
                    
                    
                        <mat-label>Data Analise Recurso</mat-label>
                        <input [(ngModel)]="pluri.data_analise_recurso" type="date" formControlName="data_analise_recurso" placeholder="Data Analise Recurso">
                    
                    
                        <mat-label>Data Atualizacao Notas</mat-label>
                        <input [(ngModel)]="pluri.data_atualizacao_notas" type="date" formControlName="data_atualizacao_notas" placeholder="Data Atualizacao Notas">

                </div>                
            </mat-card-content>
        </form>
        <div class="botoes">
            <button mat-button (click)="avancarParaProximaAba()">Próxima Aba</button>
            <button mat-button (click)="atualizarAtividadesDaComissaoForm()">Enviar atualizacoes</button>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            {{titulo3}}
        </ng-template>
        <form [formGroup]="informacoesAplicacaoForm">
            <mat-card-title>
                <h2>Informacoes aplicacao Pluri</h2>
            </mat-card-title>
            <mat-card-content>
                <div class="grid-container">
                    
                        <mat-label>Data Aplicacao</mat-label>
                        <input [(ngModel)]="pluri.data_aplicacao" type="date" formControlName="data_aplicacao" placeholder="Data Aplicacao">
                    
                    
                        <mat-label>Data Reaplicacao</mat-label>
                        <input [(ngModel)]="pluri.data_reaplicacao" type="date" formControlName="data_reaplicacao" placeholder="Data Reaplicacao">
                    
                    
                        <mat-label>Data Divulgacao Notas</mat-label>
                        <input [(ngModel)]="pluri.data_divulgacao_notas" type="date" formControlName="data_divulgacao_notas" placeholder="Data Divulgacao Notas">
                
                </div>                
            </mat-card-content>
        </form>
        <div class="botoes">
            <button mat-button (click)="avancarParaProximaAba()">Próxima Aba</button>
            <button mat-button (click)="atualizarInformacoesAplicacaoForm()">Enviar atualizacoes</button>
        </div>
    </mat-tab>
</mat-tab-group>

<mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected}}</p>