<section class="login-component">
    <mat-card class="login">
        <div class="image-container">
        </div>
        <div class="form-container">
            <mat-card-header>
                <mat-card-title>Faça seu Login</mat-card-title>
            </mat-card-header>
            <form [formGroup]="loginForm">
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input formControlName="login" matInput type="text" placeholder="Digite seu username">
                        <mat-error *ngIf="loginForm.get('required')?.errors?.['required']">Username
                            obrigatório</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input formControlName="senha" matInput type="password" placeholder="Digite sua senha">
                    </mat-form-field>
                    <mat-error *ngIf="loginForm.get('required')?.errors?.['required']">Senha
                        obrigatório</mat-error>
                </mat-card-content>
                <mat-card-actions>
                    <button [disabled]="loginForm.invalid" mat-flat-button color="primary" (click)="login()">
                        ACESSAR MINHA CONTA
                    </button>
                </mat-card-actions>
                <p>Ainda não possui conta?
                    <a><strong><u>Clique aqui para se cadastrar!</u></strong></a>
                </p>
            </form>
        </div>
    </mat-card>

</section>